Repository DFHack/dfhack, pull requests merged in 2021-01, with the labels that each got.

#1738 Fix crash in look menu search
  docs/changelog.txt
  plugins/search.cpp
Labels: crash/hang, search

#1717 Lua run_command improvements and documentation
  docs/Lua API.rst
  library/Console-posix.cpp
  library/Console-windows.cpp
  library/LuaApi.cpp
  library/lua/dfhack.lua
Labels: documentation, lua

#1764 [stockpile, stockflow] resolve hotkey help text conflict
  docs/changelog.txt
  plugins/stockpiles/stockpiles.cpp
Labels: stockflow, stockpiles
