Repository DFHack/dfhack, pull requests merged in 2022-04, with the labels that each got.

#2064 only designate enough trees to reach max_logs
  docs/changelog.txt
  plugins/autochop.cpp
Labels: autochop

#2069 test: quickfort/ecosystem: avoid assuming output folder exists
  test/quickfort/ecosystem.lua
Labels: tests

#2073 [blueprint] document new phases and options
  docs/Plugins.rst
Labels: documentation

#2082 Add string:escape_pattern() utility function
  docs/Lua API.rst
  docs/changelog.txt
  library/lua/dfhack.lua
  test/library/string.lua
Labels: lua

#2084 ensure ListBoxes always have enough height
  docs/changelog.txt
  library/lua/gui/dialogs.lua
Labels: lua

#2089 Document and update argparse module
  docs/Lua API.rst
  library/lua/argparse.lua
  test/library/argparse.lua
Labels: documentation, lua

#2092 handle number-indexed lua maps in safe_index
  docs/changelog.txt
  library/lua/dfhack.lua
Labels: bug, lua

#2086 add ResizingPanel class and autolayout for Panels
  docs/Lua API.rst
  docs/changelog.txt
  library/lua/gui/widgets.lua
Labels: lua

#2083 automatically manage sidebar modes in MenuOverlay
  docs/Lua API.rst
  docs/changelog.txt
  library/lua/gui.lua
  library/lua/gui/dwarfmode.lua
Labels: lua

#2096 Add new `plugins/external` subdirectory for external/untracked plugins
  .gitignore
  plugins/CMakeLists.txt
Labels: build

#2103 [lua] Add some more handy widgets to the library
  docs/Lua API.rst
  docs/changelog.txt
  library/lua/gui/widgets.lua
Labels: lua

#2102 Alphabetizes Plugins.rst
  docs/Plugins.rst
Labels: documentation
